@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,300;1,900&display=swap');
body    {
    font-size: 16px;
    font-family: 'lato', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header_nav_menu    {
    justify-content: space-around;
}
.contact_us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.our_benefits   {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hot_travels img    {
    border-radius: 50%;
}
.benefits_head  {
    font-size: 24px;
    font-weight: bold;
}
.tours  {
    display:flex;
    flex-direction: row;
    justify-content: space-around;    
}
.price  {
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.tour_name  {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
}
.tour_types {
    border: solid 2px;
    width: 270px;
    margin-top: 30px;
    gap: 20px;
}
.tour_video {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.btn {
    display: flex;
    justify-content: center;  
    margin:20px;
}
.copy_rights    {
    display: flex;
    font-size: 12px;
    justify-content:space-around;
    
}
.footer     {
    display: flex;
    justify-content: right;
    flex-direction: column;
   
}
.footer_menu    {
    display: flex;
   margin-top: 20px;
    gap: 20px;
}

