.header> div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
/*.header_nav_menu    {
    display: flex;
    justify-content: space-around;
}*/
.contact_us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}