@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,300;1,900&display=swap');
body    {
    font-size: 16px;
    font-family: 'lato', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: rgb(95, 77, 172);
}

.header_nav_menu    {
    display: flex;
    justify-content: right;
    margin-right: 30px;
    gap:20px;    
}
.contact_us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.our_benefits   {
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.hot_travels img    {
    border-radius: 50%;
}
.benefits   {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
.benefits_head  {
    font-size: 24px;
    font-weight: bold;
}
.tours  {
    display:flex;
    flex-direction: row;
    justify-content: space-around;    
}
.price  {
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.tour_name  {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
}
.tour_types {
    border: solid 2px;
    width: 270px;
    margin-top: 30px;
    gap: 20px;
}
.tour_video {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.btn {
    display: flex;
    justify-content: center;  
    margin:20px;
}
.copy_rights    {
    display: flex;
    font-size: 12px;
    justify-content:right;
    
}
.footer     {
    display: flex;
    justify-content: right;
    flex-direction: column;
   
margin-right: 30px;}
.footer_menu    {
    display: flex;
    justify-content: right;
   margin-top: 20px;
    gap: 20px;
}

