@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,300;1,900&display=swap');

body    {
    font-size: 16px;
}
.header> div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.header_nav_menu    {
    display: flex;
    justify-content: space-around;
}
.    contact_us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our_benefits   {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hot_travels img    {
    border-radius: 50%;
}
.benefits_head  {
    font-family: 'lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.tours  {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}